<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.looveh.blog_web.dao.BlogLogsMapper">
    <resultMap id="BaseResultMap" type="com.looveh.blog_web.entity.BlogLogs">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="model_type" jdbcType="VARCHAR" property="modelType"/>
        <result column="operation" jdbcType="VARCHAR" property="operation"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_id, model_type, operation, created_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_logs
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.looveh.blog_web.entity.BlogLogs">
    insert into blog_logs (id, user_id, model_type, 
      operation, created_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{modelType,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.looveh.blog_web.entity.BlogLogs">
        insert into blog_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="modelType != null">
                model_type,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="modelType != null">
                #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.looveh.blog_web.entity.BlogLogs">
        update blog_logs
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="modelType != null">
                model_type = #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.looveh.blog_web.entity.BlogLogs">
    update blog_logs
    set user_id = #{userId,jdbcType=INTEGER},
      model_type = #{modelType,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>