<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.looveh.blog_web.dao.BlogArticlesMapper">
  <resultMap id="BaseResultMap" type="com.looveh.blog_web.entity.BlogArticles">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="deleted_time" jdbcType="TIMESTAMP" property="deletedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, tag_ids, user_id, article_id, create_time, is_deleted, deleted_time
  </sql>
  <insert id="insert" parameterType="com.looveh.blog_web.entity.BlogArticles">
    insert into blog_articles (id, title, tag_ids,
      user_id, article_id, create_time, 
      is_deleted, deleted_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{tagIds,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT}, #{deletedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.looveh.blog_web.entity.BlogArticles">
    insert into blog_articles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="tagIds != null">
        tag_ids,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="deletedTime != null">
        deleted_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="tagIds != null">
        #{tagIds,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="deletedTime != null">
        #{deletedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>