<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.looveh.blog_web.dao.BlogLogsMapper">
    <resultMap id="BaseResultMap" type="com.looveh.blog_web.entity.BlogLogs">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="param" jdbcType="VARCHAR" property="param"/>
        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    `id`, `user_type`, `ip`, `desc`, `param`, `duration`, `remark`, `create_time`
  </sql>

    <sql id="Base_Value_List">
    #{id}, #{userType}, #{ip}, #{desc}, #{param}, #{duration}, #{remark}, now()
  </sql>

    <insert id="insert" parameterType="com.looveh.blog_web.entity.BlogLogs">
        <!--<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">-->
            <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        insert into blog_logs
        (
        <include refid="Base_Column_List" />
        )
        values
        (
        <include refid="Base_Value_List" />
        )
    </insert>

    <insert id="insertSelective" parameterType="com.looveh.blog_web.entity.BlogLogs">

        insert into blog_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="desc != null">
                desc,
            </if>
            <if test="param != null">
                param,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="param != null">
                #{param,jdbcType=LONGVARCHAR},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>