<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.looveh.blog_web.dao.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.looveh.blog_web.entity.Comments">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="biz_id" jdbcType="INTEGER" property="bizId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="deleted_time" jdbcType="TIMESTAMP" property="deletedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, comment, status, type, biz_id, created_time, deleted_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.looveh.blog_web.entity.Comments">
    insert into comments (id, user_id, comment, 
      status, type, biz_id, created_time, 
      deleted_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{type,jdbcType=VARCHAR}, #{bizId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{deletedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.looveh.blog_web.entity.Comments">
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="bizId != null">
        biz_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="deletedTime != null">
        deleted_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedTime != null">
        #{deletedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.looveh.blog_web.entity.Comments">
    update comments
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="bizId != null">
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedTime != null">
        deleted_time = #{deletedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.looveh.blog_web.entity.Comments">
    update comments
    set user_id = #{userId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      type = #{type,jdbcType=VARCHAR},
      biz_id = #{bizId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      deleted_time = #{deletedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>