<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.looveh.blog_web.dao.TUserMapper">
    <resultMap id="BaseResultMap" type="com.looveh.blog_web.entity.TUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="imgpath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="isdeleted" jdbcType="BIT" property="isdeleted"/>
        <result column="deletetime" jdbcType="TIMESTAMP" property="deletetime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, username, password, sex, imgpath, mobile, email, status, description, intro, 
    createtime, updatetime, isdeleted, deletetime
  </sql>

    <sql id="Base_Column_Where">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="imgpath != null">
                and imgpath = #{imgpath}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="intro != null">
                and intro = #{intro}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="updatetime != null">
                and updatetime = #{updatetime}
            </if>
            <if test="isdeleted != null">
                and isdeleted = #{isdeleted}
            </if>
            <if test="deletetime != null">
                and deletetime = #{deletetime}
            </if>
        </where>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByTUser" parameterType="com.looveh.blog_web.entity.TUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <include refid="Base_Column_Where"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.looveh.blog_web.entity.TUser">
    insert into t_user (id, username, password, 
      sex, imgpath, mobile, 
      email, status, description, 
      intro, createtime, updatetime, 
      isdeleted, deletetime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{imgpath,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{isdeleted,jdbcType=BIT}, #{deletetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.looveh.blog_web.entity.TUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="imgpath != null">
                imgpath,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="isdeleted != null">
                isdeleted,
            </if>
            <if test="deletetime != null">
                deletetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="imgpath != null">
                #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdeleted != null">
                #{isdeleted,jdbcType=BIT},
            </if>
            <if test="deletetime != null">
                #{deletetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.looveh.blog_web.entity.TUser">
        update t_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="imgpath != null">
                imgpath = #{imgpath,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="isdeleted != null">
                isdeleted = #{isdeleted,jdbcType=BIT},
            </if>
            <if test="deletetime != null">
                deletetime = #{deletetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.looveh.blog_web.entity.TUser">
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      imgpath = #{imgpath,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      isdeleted = #{isdeleted,jdbcType=BIT},
      deletetime = #{deletetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>